:root {
  --primary-color: #007bff;
  --text-color: #333;
  --bg-color: #f8f9fa;
  --list-bg-color: #fff;
  --border-radius: 5px;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.tab {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  gap: 20px;
}

.tab button {
  background-color: #007bff;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.tab button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.tab button.active {
  background-color: #004085;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--list-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

h1 {
  color: var(--primary-color);
  text-align: center;
}

.rolls-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
}

.rolls-grid div {
  background-color: var(--list-bg-color);
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.rolls-grid div:hover {
  transform: scale(1.1);
  cursor: pointer;
}
